* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #DCE3FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 10px;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    width: auto;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.content {
    width: 355px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 30px;
    max-width: 320px;
    margin-bottom: 10px;
}
img.head-image {
    width: 100%;
    height: auto;
    border-radius: 30px 30px 0 0;
    margin-bottom: 20px;
}

.content h1 {
    text-align: center;
    color: hsl(223, 47%, 23%);
    margin: 10px;
    margin-bottom: 20px;
}

.content p {
    text-align: center;
    margin: 10px;
    color: hsl(224, 23%, 55%);
    margin-bottom: 15px;
}

.plan {
    width: 90%;
    background-color: hsl(225, 100%, 98%);
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}

.plan img {
    display: inline-block;
    margin: 10px;
    margin-bottom: 5px;
}

.plan h2 {
    display: block;
    margin: 10px 0 4px 0;
    color: hsl(223, 47%, 23%);
    font-size: 1.3rem;
    width: 70%;
}

.plan p {
    display: block;
    margin-left: 2px;
    width: 70%;
    clear: both;
    margin-top: -30px;
}
p.body {
    margin: 20px;
}

.annual-plan {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}
.annual-plan h2 {
    display: block;
    width: 100%;
    line-height: 20px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 2px;
    color: hsl(223, 47%, 23%);
}
.annual-plan p {
    display: block;
    width: 100%;
    line-height: 20px;
    text-align: left;
    margin: 5px;
    margin-top: 1px;
    color: hsl(224, 23%, 55%);
}

.change {
    margin-top: 10%;
    color: #382AE1;
    font-weight: bold;
}

button {
    margin: 20px auto;
    display: block;
    width: 90%;
    padding: 5%;
    border-radius: 10px;
    border: none;
    background-color: #382AE1;
    color: #fff;
    font-weight: bold;
    box-shadow: 3px 7px 8px 0.5px hsl(224, 70%, 95%);    
}
button:hover {
    background-color: #5144AD;
}

p.cancel-order {
    display: block;
    color: hsl(224, 23%, 55%);
    font-weight: bold;
}

.content {
    padding-bottom: 10px;
}

.attribution {
    margin: 15px;
}

.attribution p {
    color: #5144AD;
    display: inline-block;
}

.attribution a {
    text-decoration: none;
    color: #382AE1;
}

.attribution a:hover {
    font-size: larger;
    color: #0b036a;
}